.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  height:77px;

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 69px; 
  width: auto;
  object-fit: contain;
}

.spacer {
  flex: 1 1 auto;
}

.nav-links a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

    .navbar {
    height: 56px;
  }
}
}