<mat-toolbar color="primary" class="navbar">
<span class="logo">
  <img
    src="../../../../assets/logodf3.jpg"
    alt="Logo"
    class="logo-img"
  >
</span>

  <span class="spacer"></span>

  <nav class="nav-links">
    <a
      mat-button
      routerLink="/portafolio-daniel-suarez-full-stack"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Inicio
    </a>

    <a
      mat-button
      routerLink="/portafolio-daniel-suarez-full-stack/about"
      routerLinkActive="active"
    >
      Sobre mí
    </a>

    <a
      mat-button
      routerLink="/portafolio-daniel-suarez-full-stack/experience"
      routerLinkActive="active"
    >
      Experiencia
    </a>

    <a
      mat-button
      routerLink="/portafolio-daniel-suarez-full-stack/projects"
      routerLinkActive="active"
    >
      Proyectos
    </a>

    <a
      mat-button
      routerLink="/portafolio-daniel-suarez-full-stack/contact"
      routerLinkActive="active"
    >
      Contáctame
    </a>
  </nav>
</mat-toolbar>
