<section class="projects-section">

      <!-- TÍTULO -->
      <h2 class="section-title">Proyectos</h2>
      <div class="section-divider"></div>

      <!-- GRID -->
      <div class="projects-grid">
        <mat-card
          class="project-card"
          *ngFor="let project of projects"
        >
          <mat-card-header>
            <mat-card-title>{{ project.name }}</mat-card-title>
            <mat-card-subtitle>{{ project.type }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p class="description">
              {{ project.description }}
            </p>

            <mat-chip-set>
              <mat-chip *ngFor="let tech of project.stack">
                {{ tech }}
              </mat-chip>
            </mat-chip-set>
          </mat-card-content>
        </mat-card>
      </div>

    </section>